@page
@model BuildingCompanyWebApp.Pages.Investments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Investment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Investment.InvestorId" class="control-label"></label>
                <select asp-for="Investment.InvestorId" class ="form-control" asp-items="ViewBag.InvestorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Investment.ProjectId" class="control-label"></label>
                <select asp-for="Investment.ProjectId" class ="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Investment.Sum" class="control-label"></label>
                <input asp-for="Investment.Sum" class="form-control" />
                <span asp-validation-for="Investment.Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investment.Datetime" class="control-label"></label>
                <input asp-for="Investment.Datetime" class="form-control" />
                <span asp-validation-for="Investment.Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investment.TaskId" class="control-label"></label>
                <select asp-for="Investment.TaskId" class ="form-control" asp-items="ViewBag.TaskId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
