@page
@model BuildingCompanyWebApp.Pages.CompanyInvestors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CompanyInvestor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompanyInvestor.Id" />
            <div class="form-group">
                <label asp-for="CompanyInvestor.Name" class="control-label"></label>
                <input asp-for="CompanyInvestor.Name" class="form-control" />
                <span asp-validation-for="CompanyInvestor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyInvestor.CompanyTypeId" class="control-label">Company type</label>
                <select asp-for="CompanyInvestor.CompanyTypeId" class="form-control" asp-items="ViewBag.CompanyTypeId"></select>
                <span asp-validation-for="CompanyInvestor.CompanyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyInvestor.Code" class="control-label"></label>
                <input asp-for="CompanyInvestor.Code" class="form-control" />
                <span asp-validation-for="CompanyInvestor.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyInvestor.Description" class="control-label"></label>
                <input asp-for="CompanyInvestor.Description" class="form-control" />
                <span asp-validation-for="CompanyInvestor.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyInvestor.FoundationDatetime" class="control-label">Foudation date</label>
                <input asp-for="CompanyInvestor.FoundationDatetime" class="form-control" />
                <span asp-validation-for="CompanyInvestor.FoundationDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
